<h1>All Products</h1>
<a href="/product/new">
    <button>
        Add your Information
    </button>
</a>
<ul>
    {{#each allProducts}}

    <a href="/product/{{_id}}">
        <li>{{name}}</li>
        {{/each}}


<a href="/">
    <button>
        Go to HomePage
    </button>
</a>