<h1>All User's/Clients</h1>
<a href="/user/new">
    <button>
        Add your Information
    </button>
</a>
<ul>
    {{#each allUsers}}
    <a href="/user/{{_id}}">
        <li>{{name}}</li>
        {{/each}}
<a href="/">
    <button>
        Go to HomePage
    </button>
</a>