<h1>Create New Business List</h1>

<form action="/owner" , method="POST">
    <input type='text' name="name" placeholder="name">
    <input type='number' name="created" placeholder="created">
    <input type='text' name="city" placeholder="city">
    <input type='text' name="state" placeholder="state">


    <input type="submit" value="Create" />

</form>