<h1>Create New Business List</h1>

<form action="/owner" , method="POST">
    <input type='text' name="name" placeholder="Name">
    <input type='number' name="created" placeholder="Created">
    <input type='text' name="city" placeholder="City">
    <input type='text' name="state" placeholder="State">


    <input type="submit" value="Create" />

</form>